* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cat-img-div {
    height: 60vh;
    width: 100vh;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 20px;
    border: none;
    outline: none;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

img { 
    max-height: 80%;
    max-width: 80%;
}


